@import "./variables";
@import "./mixins";

$color: color-choice($color-pallette);
body {
  width: 100vw;
  height: 100vh;
}

#wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color;
}

#quote-box {
  background-color: white;
  color: $color;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  font-family: "Raleway", sans-serif;
}

#text {
  margin: 2rem 3rem 0 3rem;
  font-size: 1.75rem;
  font-weight: 500;
}

#quote {
  margin-bottom: 0;
}

#author {
  font-size: 1rem;
  text-align: end;
  margin-right: 3rem;
  font-weight: 400;
}

#author-text {
  margin-top: 5px;
}

#buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem 2rem;
}

#tweet-quote {
  float: left;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: $color;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0.7;
}

#tweet-quote:hover {
  opacity: 1;
}

#new-quote {
  background-color: $color;
  border-style: none;
  border-radius: 5px;
  color: white;
  width: 100px;
  font-size: 0.85rem;
  cursor: pointer;
  opacity: 0.7;
}

#new-quote:hover {
  transition: 0.5s;
  opacity: 1;
}
